# Import Libraries

In [1]:
import requests
from requests.exceptions import HTTPError
import pandas as pd
import json as js
from datetime import datetime, timedelta
from matplotlib import pyplot as plt
# Uncomment this if you like to use the old MPL library
import matplotlib.dates as mpl_dates
import matplotlib.ticker as tkr
%matplotlib inline
import seaborn as sns
#technical indicator library
import btalib
#from mpl_finance import candlestick_ohlc
import mplfinance as mpf

In [2]:
import yfinance as yf

In [3]:
spy = yf.download(
        tickers = "SPY",
        period = "1mo",
        interval = "5m",
        group_by = 'column',
        auto_adjust = False,
        prepost = False,
        threads = True,
        proxy = None
    )

[*********************100%***********************]  1 of 1 completed

In [6]:
spy

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-01-11 09:30:00-05:00,377.850006,378.920013,377.720001,378.299988,378.299988,3804804
2021-01-11 09:35:00-05:00,378.299988,378.630005,377.718903,378.399994,378.399994,1222008
2021-01-11 09:40:00-05:00,378.410004,378.640015,377.940002,378.379913,378.379913,887594
2021-01-11 09:45:00-05:00,378.380005,378.600006,377.910004,378.040009,378.040009,1352067
2021-01-11 09:50:00-05:00,378.010010,378.554993,377.750000,378.541107,378.541107,776388
...,...,...,...,...,...,...
2021-02-10 15:35:00-05:00,390.265015,390.329987,389.660004,389.679993,389.679993,1040489
2021-02-10 15:40:00-05:00,389.687012,389.945007,389.399994,389.410004,389.410004,1248542
2021-02-10 15:45:00-05:00,389.420013,389.820007,389.399994,389.579987,389.579987,1099092
2021-02-10 15:50:00-05:00,389.600006,389.959991,389.369995,389.739990,389.739990,2491900
2021-02-10 15:55:00-05:00,389.739990,390.140015,389.529999,390.089996,390.089996,2143840

In [4]:
aapl = yf.download(
        tickers = "AAPL",
        period = "1mo",
        interval = "5m",
        group_by = 'column',
        auto_adjust = False,
        prepost = False,
        threads = True,
        proxy = None
    )

[*********************100%***********************]  1 of 1 completed

In [5]:
aapl

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-01-11 09:30:00-05:00,128.964996,129.529999,128.509995,128.729996,128.729996,9082119
2021-01-11 09:35:00-05:00,128.750000,129.160004,128.552505,129.100800,129.100800,2661959
2021-01-11 09:40:00-05:00,129.000000,129.750000,128.910004,129.393707,129.393707,2565861
2021-01-11 09:45:00-05:00,129.258499,129.289902,128.830002,129.020004,129.020004,1963313
2021-01-11 09:50:00-05:00,128.929901,129.070007,128.600006,128.919998,128.919998,2094542
...,...,...,...,...,...,...
2021-02-10 15:35:00-05:00,135.445007,135.470001,135.163696,135.179993,135.179993,749320
2021-02-10 15:40:00-05:00,135.175003,135.279297,134.979996,135.005005,135.005005,817205
2021-02-10 15:45:00-05:00,135.009995,135.139999,134.979996,135.100006,135.100006,3806997
2021-02-10 15:50:00-05:00,135.089996,135.339996,134.949997,135.089996,135.089996,1426593
2021-02-10 15:55:00-05:00,135.080002,135.419998,135.080002,135.360001,135.360001,2436904

In [7]:
tsla = yf.download(
        tickers = "TSLA",
        period = "1mo",
        interval = "5m",
        group_by = 'column',
        auto_adjust = False,
        prepost = False,
        threads = True,
        proxy = None
    )

[*********************100%***********************]  1 of 1 completed

In [8]:
tsla

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-01-11 09:30:00-05:00,845.219971,853.229980,841.119995,847.304199,847.304199,5655592
2021-01-11 09:35:00-05:00,844.000000,849.500000,831.559998,839.012085,839.012085,2230222
2021-01-11 09:40:00-05:00,836.000000,839.700012,832.000000,833.130005,833.130005,1530681
2021-01-11 09:45:00-05:00,828.000000,834.369995,826.000000,826.190002,826.190002,1957590
2021-01-11 09:50:00-05:00,824.000000,828.031677,819.429993,826.090027,826.090027,2273646
...,...,...,...,...,...,...
2021-02-10 15:35:00-05:00,806.469971,806.950012,805.000000,805.190002,805.190002,363548
2021-02-10 15:40:00-05:00,805.250000,806.799988,804.549988,804.591003,804.591003,393813
2021-02-10 15:45:00-05:00,804.510010,805.505005,803.349976,804.770020,804.770020,520127
2021-02-10 15:50:00-05:00,804.500000,805.669373,801.669983,802.096191,802.096191,740104
2021-02-10 15:55:00-05:00,802.059998,805.000000,801.840027,805.000000,805.000000,869388

In [12]:
df = yf.download(
        tickers = "TSLA SPY AAPL",
        period = "1mo",
        interval = "5m",
        group_by = 'column',
        auto_adjust = False,
        prepost = False,
        threads = True,
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [13]:
df

                            Adj Close                               Close  \
                                 AAPL         SPY        TSLA        AAPL
Datetime
2021-01-11 09:30:00-05:00  128.729996  378.299988  847.304199  128.729996
2021-01-11 09:35:00-05:00  129.100800  378.399994  839.012085  129.100800
2021-01-11 09:40:00-05:00  129.393707  378.379913  833.130005  129.393707
2021-01-11 09:45:00-05:00  129.020004  378.040009  826.190002  129.020004
2021-01-11 09:50:00-05:00  128.919998  378.541107  826.090027  128.919998
...                               ...         ...         ...         ...
2021-02-10 15:35:00-05:00  135.179993  389.679993  805.190002  135.179993
2021-02-10 15:40:00-05:00  135.005005  389.410004  804.591003  135.005005
2021-02-10 15:45:00-05:00  135.100006  389.579987  804.770020  135.100006
2021-02-10 15:50:00-05:00  135.089996  389.739990  802.096191  135.089996
2021-02-10 15:55:00-05:00  135.360001  390.089996  805.000000  135.360001

                                                         High              \
                                  SPY        TSLA        AAPL         SPY
Datetime
2021-01-11 09:30:00-05:00  378.299988  847.304199  129.529999  378.920013
2021-01-11 09:35:00-05:00  378.399994  839.012085  129.160004  378.630005
2021-01-11 09:40:00-05:00  378.379913  833.130005  129.750000  378.640015
2021-01-11 09:45:00-05:00  378.040009  826.190002  129.289902  378.600006
2021-01-11 09:50:00-05:00  378.541107  826.090027  129.070007  378.554993
...                               ...         ...         ...         ...
2021-02-10 15:35:00-05:00  389.679993  805.190002  135.470001  390.329987
2021-02-10 15:40:00-05:00  389.410004  804.591003  135.279297  389.945007
2021-02-10 15:45:00-05:00  389.579987  804.770020  135.139999  389.820007
2021-02-10 15:50:00-05:00  389.739990  802.096191  135.339996  389.959991
2021-02-10 15:55:00-05:00  390.089996  805.000000  135.419998  390.140015

                                              Low                          \
                                 TSLA        AAPL         SPY        TSLA
Datetime
2021-01-11 09:30:00-05:00  853.229980  128.509995  377.720001  841.119995
2021-01-11 09:35:00-05:00  849.500000  128.552505  377.718903  831.559998
2021-01-11 09:40:00-05:00  839.700012  128.910004  377.940002  832.000000
2021-01-11 09:45:00-05:00  834.369995  128.830002  377.910004  826.000000
2021-01-11 09:50:00-05:00  828.031677  128.600006  377.750000  819.429993
...                               ...         ...         ...         ...
2021-02-10 15:35:00-05:00  806.950012  135.163696  389.660004  805.000000
2021-02-10 15:40:00-05:00  806.799988  134.979996  389.399994  804.549988
2021-02-10 15:45:00-05:00  805.505005  134.979996  389.399994  803.349976
2021-02-10 15:50:00-05:00  805.669373  134.949997  389.369995  801.669983
2021-02-10 15:55:00-05:00  805.000000  135.080002  389.529999  801.840027

                                 Open                           Volume  \
                                 AAPL         SPY        TSLA     AAPL
Datetime
2021-01-11 09:30:00-05:00  128.964996  377.850006  845.219971  9082119
2021-01-11 09:35:00-05:00  128.750000  378.299988  844.000000  2661959
2021-01-11 09:40:00-05:00  129.000000  378.410004  836.000000  2565861
2021-01-11 09:45:00-05:00  129.258499  378.380005  828.000000  1963313
2021-01-11 09:50:00-05:00  128.929901  378.010010  824.000000  2094542
...                               ...         ...         ...      ...
2021-02-10 15:35:00-05:00  135.445007  390.265015  806.469971   749320
2021-02-10 15:40:00-05:00  135.175003  389.687012  805.250000   817205
2021-02-10 15:45:00-05:00  135.009995  389.420013  804.510010  3806997
2021-02-10 15:50:00-05:00  135.089996  389.600006  804.500000  1426593
2021-02-10 15:55:00-05:00  135.080002  389.739990  802.059998  2436904


                               SPY     TSLA
Datetime
2021-01-11 09:30:00-05:00  3804804  5655592
2021-01-11 09:35:00-05:00  1222008  2230222
2021-01-11 09:40:00-05:00   887594  1530681
2021-01-11 09:45:00-05:00  1352067  1957590
2021-01-11 09:50:00-05:00   776388  2273646
...                            ...      ...
2021-02-10 15:35:00-05:00  1040489   363548
2021-02-10 15:40:00-05:00  1248542   393813
2021-02-10 15:45:00-05:00  1099092   520127
2021-02-10 15:50:00-05:00  2491900   740104
2021-02-10 15:55:00-05:00  2143840   869388

[1714 rows x 18 columns]

In [14]:
# List of symbols for technical indicators
INDICATORS = ['RSI', 'MACD', 'STOCH','ADL', 'ATR', 'MOM', 'MFI', 'ROC', 'OBV', 'CCI', 'EMV', 'VORTEX']

In [ ]:
aapl.drop(column='AdjClose', inplace)

In [18]:
#Rename the column names because finta uses the lowercase names
aapl.rename(columns={"Close": 'close', "High": 'high', "Low": 'low', 'Volume': 'volume', 'Open': 'open'}, inplace=True)
aapl

,open,high,low,close,Adj Close,volume
Datetime,,,,,,
2021-01-11 09:30:00-05:00,128.964996,129.529999,128.509995,128.729996,128.729996,9082119
2021-01-11 09:35:00-05:00,128.750000,129.160004,128.552505,129.100800,129.100800,2661959
2021-01-11 09:40:00-05:00,129.000000,129.750000,128.910004,129.393707,129.393707,2565861
2021-01-11 09:45:00-05:00,129.258499,129.289902,128.830002,129.020004,129.020004,1963313
2021-01-11 09:50:00-05:00,128.929901,129.070007,128.600006,128.919998,128.919998,2094542
...,...,...,...,...,...,...
2021-02-10 15:35:00-05:00,135.445007,135.470001,135.163696,135.179993,135.179993,749320
2021-02-10 15:40:00-05:00,135.175003,135.279297,134.979996,135.005005,135.005005,817205
2021-02-10 15:45:00-05:00,135.009995,135.139999,134.979996,135.100006,135.100006,3806997
2021-02-10 15:50:00-05:00,135.089996,135.339996,134.949997,135.089996,135.089996,1426593
2021-02-10 15:55:00-05:00,135.080002,135.419998,135.080002,135.360001,135.360001,2436904

In [ ]:
#Next we clean our data and perform feature engineering
#tcreate new technical indicator features that our model can learn from